---
shortname: logistics
title: Logistics
---

<section data-markdown>
	<textarea data-template>
		# CS595 - {{ page.title }}

		**Lecturer**: [Boris Glavic]({{ site.data.instructor.home }})

		**Semester**: Spring 2019

	</textarea>
</section>

<section data-markdown>
	<textarea data-template>
		## Class Structure

		* **Lectures**:
		  * {{ site.data.course.when }}
		  * {{ site.data.course.where }}
		* **Labs**:
		  * {{ site.data.course.lab.when }}
		  * {{ site.data.course.lab.where }}
		* **Project**: At the end of the semester there will be a programming [project]({{ site.baseurl }}/project.html)
		* **Exams**: There will be a midterm and a final exam
	</textarea>
</section>

<section data-markdown>
  <textarea data-template>
	## Syllabus

	* [syllabus]({{ site.baseurl }}/{{ site.data.course.syllabus }})
  </textarea>
</section>


<section data-markdown>
	<textarea data-template>
		## Labs

		* There will be 9 [labs]({{ site.baseurl }}/labs.html)
		* You will work on the lab assignments during the labs and at home
		* Labs assignments are always due before the lab
		* All code has to be submitted using the git version control system. We will create a repository for every student.
	</textarea>
</section>

<section data-markdown>
	<textarea data-template>
		## Project

		* The project is a larger programming assignment
		* It will also be submitted through git
	</textarea>
</section>


<section data-markdown>
	<textarea data-template>
		## Course content

		* We will learn about object-oriented programming using Java as the language of our choice
		* This entails learning about ...
		  * The Java language
		  * The Object-oriented Programming Paradigm
		  * Debugging, Logging, and Testing
		  * Data Structures
		  * Basic Algorithms
		  * Programming Techniques
		  * Tool ecosystems
	</textarea>
</section>

<section data-markdown>
	<textarea data-template>
	## Lectures

		* For a list of lectures see [here]({{ site.baseurl }}/lectures.html)
		* We will code during the lectures
		* We will utilize [notebooks]({{ site.baseurl }}/notebooks.html) which are webpages documents containing:
		  * Code
		  * Outputs
		  * Information
	</textarea>
</section>

<section data-markdown>
	<textarea data-template>
		## Personell

		* **Instructor:** {{ site.data.instructor.name }}
		  * **Email:** [{{ site.data.instructor.email  }}](mailto:{{ site.data.instructor.email  }})
		  * **Office:** {{ site.data.instructor.location }}
		  * **Office hours:** {{ site.data.instructor.officehours }}
		* **TAs:**
		{% for ta in site.data.tas %}
		  * **{{ ta.name }}**, [{{ ta.email }}](mailto:{{ ta.email  }})
		{% endfor %}

	</textarea>
</section>


<section data-markdown>
	<textarea data-template>
		## Attendance

		* Since this is a 100-level course, I have to take attendance
		* Low attendance will result in a grade reduction
	</textarea>
</section>


<section data-markdown>
	<textarea data-template>
		## Grading Policy

{% for w in site.data.course.workload %}*  {{ w.name }}: {{ w.percentage }}%
{% endfor %}
	</textarea>
</section>


<section data-markdown>
	<textarea data-template>
	  ## Grading Scheme

{% for g in site.data.course.grading %}* {% if g.plus %}{{ g.plus }}+{% else %}<{{ g.lessthan }}{% endif %} = {{ g.letter }}
{% endfor %}
	</textarea>
</section>

<section data-markdown>
	<textarea data-template>
	  ## Piazza
	  * We will use Piazza for Q&A
	  * Please refrain from emailing me questions, but submit them through [Piazza]({{ site.data.course.piazza }}) instead.
	  * [{{ site.data.course.piazza }}]({{ site.data.course.piazza }})
	</textarea>
</section>

<section data-markdown>
	<textarea data-template>
	  ## Getting Started

	  * As a first step please follow the instructions [here]({{ site.baseurl }}/bootstrap.html) to:
	    * Install the java development toolkit (JDK)
	    * Install an IDE and/or editor
	    * Learn about **git**
	</textarea>
</section>

<section data-markdown>
	<textarea data-template>
	  ## Copying and Plagiarism

	  * If any work is not your own you will receive 0 points for the assignment/exam
	  * We will also report the incident to academic honesty
	</textarea>
</section>
